.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.idea
.rvmrc
.rspec
config/database.yml
config/redis.conf

public/system
public/uploads
.rvmrc
nbproject/
*.swp
db/sphinx
log/*.pid
tmp/
Thumbs.db
.idea
config/*.sphinx.conf
live_image_preview
coverage
certs
docs
STAPI
